<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
<h1>Fill in your Squad's details here!</h1>
<form action='/Squad'>
  <div class="form-group">
    <label for="sender">Squad name</label>
    <input id="sender" name="sender" class="form-control" type="text">
  </div>
    <label for="sender">Squad's size</label>
    <input id="sender" name="sender" class="form-control" type="number">
  </div>
    <label for="sender">Squad's Dedications</label>
    <input id="sender" name="sender" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create!</button>
</form>
    </div>
  </body>
</html>